@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:ital,wght@0,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Oswald:wght@300&family=Roboto:wght@100;300&display=swap');

*{
    margin:0;
    padding:0;

}
.links a{
    text-decoration: none;
    margin-right:20px;
    font:20px Oswald;
    color:black;
    padding-botttom:10px;
}
.links a:hover{
    border-bottom:2px solid green;
    padding-botttom:10px;
    color:blue;
}

.navbar{
    padding-right: 70px;
}
.log {
    text-decoration: none;
    display: flex;
    justify-content:center;
    align-items: center;
    color:black;
    font:20px Oswald;
    margin-left:200px;
   
}
.log a:hover{
    color:blue;
    border-bottom:2px solid green;
}
.wrap{
    position:relative;
}
.wrap--inside{
    position:absolute;
    
    display: flex;
    flex-direction: column; 
    background-color:#ddd;
    text-align: left;
   
    margin-top:3px;
    z-index:-1;
    height: 0;
    overflow: hidden;
    /* transition: all 2s ease; */
}

.wrap:hover .wrap--inside{
    height: auto;
    text-align:justify;
    color:blue;
    border-bottom:none;
}
.wrap:hover{
    border-bottom:none;
}
.wrap--inside:hover{
    color:blue;
    background-color:#ddd;
}
nav{
    background-color: #fff;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    top:0;
    width:100%;
    background-color:#fff;
   z-index:2;
   box-shadow:0  0 10px 0;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


header{
    background-image: url(https://www.gannett-cdn.com/presto/2021/07/21/USAT/dfbd657c-1ef5-4dd9-b355-1619bdc2645f-GettyImages-924491214.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center right;
  
}
.text{
   text-align: left;
   padding:300px 20px;
  color:#fff;

}
.text p{
    padding-left:20px;
}
.text h1{
    font:55px sans-serif;
}
 .text .btm{
  
    margin-left:20px;
    border:1px solid coral;
    border-radius: 10px;
    padding:10px;
    color:black;
    background-color:none;
    font:20px sans-serif;
}
span{
    color:coral;
}

nav img{
    height:100px;
}

#mentor1{
    padding-top:100px;
    padding-left:30px;
    font:55px Osald;
}
.mentor{
    z-index:-1;
    margin:20px 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:40px 0;
    box-shadow: 0 0 2px 0;
    
}
.mentor:hover{
    box-shadow:0 0  20 0;
}
.mentor:first-child{
    margin-top:100px;
}

.pic{
    display: flex;

}

.pic img{
    border-radius: 50%;
  }

.matn{
    margin-left:20px;
    margin-top:20px;
}

.btn a{
text-decoration: none;
padding:10px;
border:1px solid black;
text-align: center;
border-radius:15px;
}
.btn a:hover{
    background-color:black;
    color:#fff;
}
.mentor2{
   
        margin:20px 5%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding:40px 0;
        box-shadow: 0 0 2px 0;
        background-color: rgb(250, 252, 251, green, blue);
    }
.mentor3{
    margin:20px 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:40px 0;
    box-shadow: 0 0 2px 0;
    background-color: rgb(250, 252, 251, green, blue);
}

.mentor4{
    margin:20px 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:40px 0;
    box-shadow: 0 0 2px 0;
    background-color: rgb(250, 252, 251, green, blue);
}
.tugma{
    margin:20px 5%;
} 

.sert{
    padding-top:100px;
    padding-left:30px;
    font:55px Oswald;
}
.rasm{
    margin-top:30px;
    margin-bottom:30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.certification{
    border:1px solid black;
    margin:50px 5%;
}
.certification p{
    text-align: center;
    font:20px sans-serif;
    padding-top:50px;
}

.text-center{
    margin:100px 0;
}

.pricing{
    background-image: url(gym.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}


.reg{
    margin:5%;
    margin-bottom:5%;
    border-radius:10px;
    width:auto;
    height:auto;
    background-color:rgb(90, 125, 241);
}

.birga{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.birga h2{
    color:#fff;
    text-transform: capitalize;
    
    padding:50px;
}
.birga .button{
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
    word-spacing:4px;
    border-radius: 20px;
    padding:15px;
    place-items: center;
    margin:auto;
   color:rgb(90, 125, 241);
   transition:ease-out 1s;
   /* box-shadow:inset 300px 0 0 0 yellow; */
}
.birga .button a{
    text-decoration: none;
}
.birga .button:hover{
    box-shadow:inset 300px 0 0 0 yellow;
    cursor pointer;
    color:black;
    width:250px;
    height:50px;
  
}
.price{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:1px solid black;

}
.card{
    height: 200px;
    margin:10% auto;
   margin-bottom:25%;
   border-radius: 15px;
}


.first, .sec{
    text-align: center;
}

.first span{
    color:black;
    font:40px Indie Flower;
}
.first:first-child{
    background-color:red;
    color:#fff;
    padding:20px;
    
}



.bir{
    background-color:blue;
    color:#fff;
    padding:20px;
    
}
.sec{
    background-color: #fff;
    padding:20px;
    margin:0;
}

.butn{
    border:none;
    outline:1px solid coral;
    border-radius:10px;
    margin:20px 0;
    
}

.butn:hover {
    background-color:black;
    color:#fff;
}

.up button{
    position:fixed;
    bottom:0;
    right:0;
    background-color:#ddd;
    padding: 15px;
    border:none;
}
.up a{
    text-decoration: none;
}

.toggle-button{
    position: absolute;
    top:50px;
    right:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: .75rem; 
    height:1rem;
    color:black;
}

.toggle-button .bar{
    height: 3px;
    width:100%;
    border-radius: 10px;
    background-color: black;
}

    @media (max-width: 300px){
 
         .navbar{
            position:relative;
         }
         nav img{
             display:none;
         }
         .navbar ul{
             position: absolute;
             justify-content: flex-start;
             text-align: center;
             width: 100%;
             background-colo:#ddd;
         }
         .rasm img{
             display:block;
             padding:20px 0;
             width:100px;
         }
    }

    @media (max-width:500px){
.rasm img{
    display:block;
    padding:20px 0;
    width:200px;
}

    }

    @media (max-width:900px){
        .rasm img{
            display:block;
            padding:20px 0;
            width:400px;
        }
        }
    

    .lorem{
        background-color:#ddd;
        margin-top:200px;
        display:grid;
        grid-template-columns: repeat(2,1fr);
       grid-auto-rows:minmax(100px,auto);
       grid-gap:20px;
    }